header.masthead {
    position: relative;
    overflow: hidden;
    padding-top: calc(7rem + 72px);
    padding-bottom: 7rem;
    background: linear-gradient(0deg, #b080f9 1%, #6807f9 40%);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
  }
  header.masthead .masthead-content {
    z-index: 1;
    position: relative;
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 4rem;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 2rem;
  }

.btn-header{
    margin: 2px;
    background: #6807f9 !important;
    color: #fff !important;
    border-color: #6807f9 !important;
}



/* mobile */

